.movie-info-box {
  height: 100px;
  width: 200px;
  z-index: 999;
  background-color: aqua;
  position: relative;
}

.wrapper-movie-info {
}

.remove-button {
  color: red;
}

span:hover {
  text-decoration: underline;
  color: blue;
}

button:hover {
  transform: 2;
}
