<!-- <div *ngFor="let film of favoriteFilmsList" fxlayout="row">
  <div fxFlex="50">
    <button mat-stroked-button
    color="red"
      *ngIf="!film.added"
      (click)="addToFavorites(film.id)"
      (click)="openSnackBar(film.title)"
    >
      Add to favorites
    </button>
    <span
      (mouseenter)="showMovieInfo(film.id)"
      (mouseleave)="hideMovieInfo(film.id)"
      >{{film.title}}</span
    >
    <button
      *ngIf="film.added"
      class="remove-button"
      (click)="removeFromFavorites(film.id)"
    >
      X
    </button>
  </div>

  <div fxFlex="50" class="wrapper-movie-info" #movie>
    <div>
      <aside class="movie-info-box" #movieIn *ngIf="!film.hidden">
        Director: {{film.director}}
      </aside>
    </div>
  </div>
</div>

<div>
  {{this.favoritesCount}}
  <p>
    <button (click)="checkOut()">Checkout</button>
  </p>
</div> -->

<p-card>
  
</p-card>
<div>this page works for films-list</div>
